
@keyframes syed {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 0.15;
    }
}

@keyframes faraaz {
    0% {
        opacity: 0.15;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 0.15;
    }
}

@keyframes ahmad {
    0% {
        opacity: 0.15;
    }

    50% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

@keyframes overlay {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

