hr {
    color: #efefef;
}

.fab {
    color: black;
}

.topic {
    background-color: rgba(0, 0, 0, 0.05);
}

.topic:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

a:link,
a:visited,
a:hover {
    color: blue;
}