@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:300,500,900');

* {
	font-family: 'Source Sans Pro', sans-serif;
	margin:  0;
	padding:  0;
	overflow-x: hidden;
}

.container {
	width: 80%;
	padding-top: 50px;
	margin: auto;
	display: flex;
	flex-direction: column;
}

.container > div {
	padding: 2em;
}

a {
	text-decoration: none;
}

.banner {
	min-height: 100vh;
	width: 100vw;
}

.banner-content {
	margin: auto;
	width: 80%;
	padding: 1em;
	font-family: 'Roboto', sans-serif;
}

.banner-head{
	padding: 10% 0 0.5em 0;
	font-size: 2.5em;
}

.banner-head * {
	font-family: 'Encode Sans Condensed', sans-serif;
}

.banner-head h1 {
	font-weight: 900;
}

.banner-head h2 {
	font-weight: 300;
}

.banner-body p {
	font-weight: 200;
	font-size: 1.5em;
}

a:link,
a:visited,
a:active {
	color: black; 
}

#hello {
	background: #F5F5F5;
	color: #212121;
}

#web-dev {
	background : #ED1C24;
	color: whitesmoke;
}

#mach-learn {
	background: #303F9F;
	color: whitesmoke;
}

#app {
	background: #1a9c15;
	color: whitesmoke;
}

.sidebar {
	position: fixed;
	top: calc(45% + 10px);
	left: -29em;
	width: 100vh;
	height: 1.5em;
	background: rgba(255, 255, 255, 0.95);
	padding: 1em;
	transform: rotate(-90deg);
	font-family: 'Roboto', sans-serif;
}

.name {
	font-weight: 200;
	font-size: 1.1em;
	padding-left: 1.25em;
	letter-spacing: 3px;
	display: inline-block;
}

.links li {
	display: inline-block;
	margin-right: 1.5em;
	padding: 0.5em 0.75em;
	font-size: 1.25em;
	border-radius: 5px;
}

.links li, .links li i {
	transition: background-color 0.15s ease-out;
}

.links li i {
	font-size: 1.5em;
	margin-right: 0.25em;
	vertical-align: middle;
}

.fa-twitter {
	color: #00aced;
}

.fa-linkedin {
	color: #007bb6;
}

.fa-medium, .fa-github {
	color: black;
}

.logo {
	position: fixed;
	top: 0;
	left: 0;
	height: 5em;
	background: white;
}

@media screen and (max-width: 768px) {
	.banner-content {
		padding: 1em;
	}
	
	.banner-head * {
		font-weight: 200;
		font-size: 1em;
	}

	.banner-body h2 {
		font-size: 1.25em;
		font-weight: 400;
	}

	.sidebar, .logo {
		display: none;
	}
}