.navbar {
    padding: 1em;
}

.person img {
    height: 20rem;
    vertical-align: bottom;
}

.greeting {
    padding-top: 7.5%; 
}

.greeting h2 {
    font-size: 1.75rem;
}

.greeting h1 {
    font-size: 3.75rem;
}

#logo {
    font-size: 2rem;
    font-weight: bold;
}

.hero .column {
    text-align: center;
}
